*
{
    margin: 0;
    padding: 0;
}
/* pahe navigation*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
    margin: 50px;
    color:black ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: aqua;
}
nav ul{
    display: flex;
    align-items: center;  
}
.page-heading
{
font-size: xx-large;
}